<!DOCTYPE html>
<html>
  <head>
    <title>BddBlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/app_header' %>
    <div class='container'>
      <div class="row">
        <div class="col-md-12"> </div>
          <% flash.each do |key, message| %>
            <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
              <%= message %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
